.rightAlign {
text-align: right;
}

.generalFont {
    font-size:12pt;
}

.imageSep {
    padding-right: 10px;
}

.detailItem {
    margin-left: 10px;
    margin-right: 10px;
    font-size:12pt;
}

.enyo-bg {
    background-color: #f5f5f5;
}
/*.enyo-header-inner{
    background-color: #f5f5f5;
}*/
.enyo-button {
    background-color: #f5f5f5;
}

/*testing*/
/*#fuelAustria_optionPane_vFlexBox {
    background-image:  url('../images/enyo.png');
    background-repeat:no-repeat;
    background-position: bottom;
}*/

.enyoImg {
    background-image:  url('../images/enyo.png');
    background-repeat:no-repeat;
    background-position: center;
}

