.rightAlign {
text-align: right;
}

.generalFont {
    font-size:12pt;
}

.imageSep {
    padding-right: 10px;
}

.detailItem {
    margin-left: 10px;
    margin-right: 10px;
    font-size:12pt;
}

.enyo-modaldialog > * { height:100%; }

.enyo-bg {
    background-color: #f5f5f5;
}
.enyo-header-inner{
    background-color: #f5f5f5;
}
.enyo-button {
    background-color: #f5f5f5;
}