#fuelAustria_gpsSearch_price {
text-align: right;
padding-right: 20px;
}

#fuelAustria_districtSelection_price {
text-align: right;
padding-right: 20px;
}

#fuelAustria_stationDetail_priceContainer {
text-align: right;
padding-right: 20px;
}